# 我们要合成一个视频
# 画面排版是这样的
## 从assets\pip1_vide中随机提取一个视频，假设视频名称为p1，把p1作为整视频的背景，他的属性是整时间段全部是高斯模糊，不保留视频的声音
## 二次提取刚刚做高斯模糊属性的视频即p1，把p1放在背景的居中靠左，显示比例为原始尺寸的1/3。保留视频的声音
## 从assets\pip2_vide中随机提取n个视频，把这n个视频，放在背景的居中靠右，显示比例为原始尺寸的1/4，这些n个视频的数量要合并到一起的时长和整个高斯模糊视频时长一样。不保留视频的声音

